[submodule "board/hark-kicad"]
	path = board/hark-kicad
	url = ssh://git@github.com/HarkonenBade/hark-kicad.git
[submodule "board/agg-kicad"]
	path = board/agg-kicad
	url = git@github.com:adamgreig/agg-kicad.git
